# SPDX-License-Identifier: GPL-2.0
config INTEGRITY_DIGEST_CACHE
	bool "Integrity Digest Cache"
	select MODULE_DECOMPRESS if MODULE_COMPRESS
	default n
	help
	  This option enables a cache of reference digests (e.g. of file
	  data or metadata) to be used by IMA and (later) by EVM, to verify
	  accessed files.

	  Digests can be extracted from supported data formats (e.g. a
	  TLV-based format). Support for more formats can be added through
	  third-party kernel modules.

config DIGEST_LIST_DEFAULT_PATH
	string
	default "/etc/digest_lists"
	help
	  Default path where the Integrity Digest Cache expects to find digest
	  lists.

	  It can be changed at run-time, by writing the new path to the
	  securityfs interface. Digest caches created with the old path are
	  not affected by the change.

config DIGEST_CACHE_HTABLE_DEPTH
	int
	default 30
	help
	  Desired average depth of the collision list in the digest cache
	  hash tables.

	  A smaller number will increase the amount of hash table slots, and
	  make the search faster. A bigger number will decrease the number of
	  hash table slots, but make the search slower.

config DIGEST_CACHE_TLV_PARSER
	tristate "TLV digest list parser"
	depends on INTEGRITY_DIGEST_CACHE
	select TLV_PARSER
	help
	  Add support for parsing TLV-formatted (Type Length Value)
	  digest list.
